<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h2>
                <center>Current Orders</center>
            </h2>
            <center>
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        <p>{{this.id}}. {{this.burger_name}} <button data-id="{{this.id}}"
                                data-devoured="{{this.devoured}}" class="change-devoured">Devour
                                Burger</button> </p>
                    </li>
                    {{/unless}}
                    {{/each}}

                </ul>
            </center>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h2>
                <center>Past Orders</center>
            </h2>
            <center>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        <p>{{this.id}}. {{this.burger_name}} </p>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </center>
        </div>
    </div>
</div>
<br>
<h2>
    <center>You Name it We Make It</center>
</h2>
<form class="create-form">
    <center>
        <div class="form-group">
            <label for="newBurger">Burger Name:</label>
            <input type="text" id="newBurger" name="name">
        </div>

        <button type="submit">Add Burger</button>
    </center>
</form>